{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row items-center justify-center">
      <div class="lg:col-7 md:col-9 mb-8 text-center">
        <h1 class="mb-4 text-h4 lg:text-h1">
          {{ .title | markdownify }}
        </h1>
        <!--<p class="mb-8">
          {{ .content | markdownify }}
        </p>-->
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]"
        "DisplayXL" "800x" ) }}
      </div>
      <div class="lg:col-7 md:col-9 mb-8 ml-10">
        <p class="mt-8 mb-4 font-semibold">
          {{ .content | markdownify }}
        </p>
        <ul class="flex flex-col">
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->
{{ end }}